@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'BALIGE';
    src: url('../public/fonts/balige/Balige\ Vintage\ -\ Personal\ Use.otf');
}
@font-face {
    font-family: 'DEVORANA';
    src: url('../public/fonts/derovana/DerovanaDemoRegular.ttf');
}
@font-face {
    font-family: 'DOLCE';
    src: url('../public/fonts/gellix/GellixRegular.otf');
}
.masonry {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem; /* adjust based on gap */
}

.masonry > * {
    margin-bottom: 1rem; /* adjust based on gap */
    margin-left: 1rem; /* adjust based on gap */
}

.masonry-sm > * {
    width: 100%;
}

.masonry-md > * {
    width: calc(50% - 1rem); /* adjust based on gap */
}

.masonry-lg > * {
    width: calc(25% - 1rem); /* 25% width for four columns, adjust based on gap */
}

